{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "targets": {
          "browsers": [
            "last 2 versions",
            "ChromeAndroid >= 30",
            "Android >= 4",
            "iOS >= 8"
          ]
        }
      }
    ],
    "flow",
    "react"
  ],
  "plugins": [
    [
      "import",
      {
        "libraryName": "antd",
        "style": true
      }
    ],
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-object-rest-spread",
    "syntax-dynamic-import",
    "react-hot-loader/babel"
  ],
  "env": {
    "test": {
      "presets": [
        ["env", { "targets": { "node": "current" } }],
        "flow",
        "react"
      ],
      "plugins": [
        "transform-decorators-legacy",
        "transform-class-properties",
        "transform-object-rest-spread",
        [
          "css-modules-transform",
          {
            "generateScopedName": "[name]-[local]-[hash:base64:5]",
            "extensions": [".css"]
          }
        ]
      ]
    }
  }
}
