{
  "presets": [
    ["es2015", { "modules": false }],
    "flow",
    "react",
    "stage-1"
  ],
  "env": {
    "test": {
      "presets": ["es2015", "flow", "react"],
      "plugins": [
        "transform-decorators-legacy",
        "syntax-object-rest-spread",
        "transform-object-rest-spread",
        "syntax-class-properties",
        "transform-class-properties",
        [
          "css-modules-transform",
          {
              "generateScopedName": "[name]-[local]-[hash:base64:5]",
              "extensions": [".css"]
          }
        ]
      ]
    },
    "production": {
      "plugins": [
        [
          "transform-react-remove-prop-types",
          {
            "removeImport": true,
            "ignoreFilenames": ["node_modules"]
          }
        ]
      ]
    }
  },
  "plugins": [
    "transform-decorators-legacy",
    "react-hot-loader/babel"
  ]
}

