# General files
*~
.DS_Store

# Build
build/
storybook-static/
e2e-tests/results

# Development stuff
platforms/
plugins/
node_modules/
coverage/
npm-debug.log
static/index.appcache
*.sublime-workspace
*.pyc
.vagrant
.idea
**/*.iml
.vscode
npm-debug.*

/target/
/.project
.settings
.classpath
