# General files
*~
.DS_Store

# Build
build/
storybook-static/
test-reports/
source/locales/_build/
source/locales/**/*.js

# Development stuff
platforms/
plugins/
node_modules/
coverage/
npm-debug.log
static/index.appcache
*.sublime-workspace
*.pyc
.vagrant
.idea
**/*.iml
.vscode
npm-debug.*
*.log

/target/
/.project
.settings
.classpath
sentry.properties
