.title {
  padding-bottom: 20px;

  @media (--desktop) {
    padding-bottom: 34px;
  }
}

.select {
  @media (--desktop) {
    display: flex;
    align-items: center;
  }
}

.label {
  display: block;
  padding-bottom: 8px;
  font-weight: 600;
  cursor: pointer;

  @media (--desktop) {
    padding-bottom: 0;
    padding-right: 16px;
  }
}

@media (--desktop) {
  .payment-method-address {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }
}

.qrcode {
  width: 120px;
  height: 120px;
  margin-bottom: 10px;
  border: 1px solid var(--theme-borders);

  @media (--desktop) {
    margin-left: 50px;
    margin-bottom: 0;
    border: 0;
  }
}
