@import '~/config/styles/colors.css';

:root {
  --meter-height: 12px;
}

.root {
  display: block;
  width: 100%;
  height: var(--meter-height);
}

.bar {
  rx: calc(var(--meter-height) / 2);
  ry: calc(var(--meter-height) / 2);
}

.bar_background {
  fill: rgba(192, 204, 217, .32);
}

.bar_foreground {
  fill: var(--color-primary);
}
