.root {
  color: var(--color-success-opposite);
  background: var(--color-primary);
  padding: 20px;
  border-radius: 8px;
  position: relative;
}

.close {
  position: absolute;
  right: 25px;
  top: 15px;
  cursor: pointer;
  opacity: 0.5;
  background: none;
  border: none;
  transition: 0.2s all ease-in-out;
}

.icon {
  overflow: visible !important;
}

.icon path {
  fill: var(--color-success-opposite) !important;
}

.close:hover,
.close:focus {
  outline: none;
  opacity: 1;
}

.heading {
  margin: 0;
  color: var(--color-success-opposite);
}

.paragraph {
  margin: 0;
  margin-top: 15px;
}
