@import './spoiler-config.css';

.root {
  padding-top: var(--spoiler-half-vertical-padding-mobile);
  padding-bottom: var(--spoiler-half-vertical-padding-mobile);
  padding-left: var(--spoiler-horizontal-padding-mobile);
  padding-right: var(--spoiler-horizontal-padding-mobile);
  border-top: 1px solid var(--theme-borders);

  @media (--desktop) {
    padding-top: var(--spoiler-half-vertical-padding);
    padding-bottom: var(--spoiler-half-vertical-padding);
    padding-left: var(--spoiler-horizontal-padding);
    padding-right: var(--spoiler-horizontal-padding);
  }
}

.root_expanded {
  border-radius: 6px;
  border-top-color: transparent;
  background-color: rgba(71, 134, 255, 0.04);
}

.root_expanded + .root {
  border-top-color: transparent;
  margin-top: 10px;
}

.title {
  margin: 0;
  font-size: 18px;
  color: var(--theme-primary);
}

.button {
  position: relative;
  display: block;
  width: 100%;
  appearance: none;
  padding: 0;
  padding-top: var(--spoiler-half-vertical-padding-mobile);
  padding-bottom: var(--spoiler-half-vertical-padding-mobile);
  padding-right: calc(
    var(--spoiler-icon-size) + var(--spoiler-horizontal-padding)
  );
  text-align: left;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;

  @media (--desktop) {
    padding-top: var(--spoiler-half-vertical-padding);
    padding-bottom: var(--spoiler-half-vertical-padding);
  }
}

.button::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: var(--spoiler-icon-size);
  height: var(--spoiler-icon-size);
  background-image: url('./resources/arrow.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.root_expanded .button::after {
  background-image: url('./resources/cross.svg');
}

.content {
  display: none;
  padding-top: var(--spoiler-half-vertical-padding-mobile);
  padding-bottom: var(--spoiler-half-vertical-padding-mobile);
  font-size: 14px;
  line-height: 1.7;

  @media (--desktop) {
    padding-top: var(--spoiler-half-vertical-padding);
    padding-bottom: var(--spoiler-half-vertical-padding);
  }
}

.root_expanded .content {
  display: block;
}
