@import '~/components/spoiler/spoiler-config.css';

.padded {
  padding-left: var(--spoiler-horizontal-padding-mobile);
  padding-right: var(--spoiler-horizontal-padding-mobile);
  @media (--desktop) {
    padding-left: var(--spoiler-horizontal-padding);
    padding-right: var(--spoiler-horizontal-padding);
  }
}

.title {
  padding-top: 10px;
}

.subtitle {
  font-size: 20px;
  padding-bottom: 25px;
  padding-top: 20px;
}
