.paragraph {
  padding-top: 4px;
  padding-bottom: 18px;

  @media (--desktop) {
    padding-top: 6px;
    padding-bottom: 24px;
  }
}

.footer {
  padding-top: 20px;

  @media (--desktop) {
    padding-top: 30px;
  }
}

.red {
  color: var(--color-danger);
}

.processing {
  max-width: 20em;
  margin: 1em auto;
}

.processing-annotation {
  margin: 1em auto 0;
  text-align: center;
}
