@import '~/config/styles/colors.css';

.root {
  appearance: none;
  display: table;
  padding: 0;
  padding-left: 1.25em;
  padding-right: 1.25em;
  height: 2.75em;
  font-size: 16px;
  line-height: 2.75em;
  text-decoration: none;
  color: var(--color-button-text);
  background: none;
  border: none;
  background-color: var(--color-button-bg);
  border-radius: .25em;
  cursor: pointer;
  transition: box-shadow .2s;
}

.root:hover,
.root:focus {
  transition: none;
  outline: none;
  box-shadow: 0 0 0 0.075rem #fff, 0 0 0 0.2rem var(--color-button-bg-active);
}

.root:active {
  background-color: var(--color-button-bg-active);
}

.root:disabled {
  box-shadow: none;
  background-color: var(--color-button-bg-disabled);
  color: var(--color-button-text-disabled);
  cursor: default;
}

.root_size_small {
  font-size: 14px;
}
