.root {
  @media (--desktop) {
    display: flex;
    align-items: center;
  }
}

.label {
  display: block;
  padding-bottom: 8px;
  font-weight: 600;
  cursor: pointer;

  @media (--desktop) {
    padding-bottom: 0;
    padding-right: 16px;
  }
}
