.root {
  color: var(--color-primary-opposite);
  background-color: var(--color-primary);
}

.title {
  font-weight: 600;
  font-size: 16px;
  opacity: 0.64;
}

.balance {
  font-weight: 600;
  font-size: 24px;
}
