.root {
  font-size: 14px;
}

.title {
  margin: 0;
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 16px;

  @media (--desktop) {
    margin-bottom: 20px;
  }
}

.list {
  list-style-type: none;
}

.price {
  margin-bottom: 15px;
  font-weight: 600;
}

.price:last-child {
  margin-bottom: 0;
}

.sold {
  margin-top: 10px;
}

.section:not(:last-child) {
  margin-bottom: 14px;
  border-bottom: 1px solid var(--color-borders);
}

.section:not(:first-child) {
  margin-top: 14px;
}
